.Update-container {
    text-align: center;
  }
  .Update-content {
    justify-content: space-around;
    display: flex;
    column-count: 2;
  }
  .Update-field {
      display: grid;
      padding-bottom: 3rem;
  }
  .Update-field input {
      margin-bottom: 2rem;
      margin-top: 1rem;
      padding: 5px;
      border-radius: 5px;
      border: 0px;
  }
  