.Item-content li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}
.Item-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Item-column {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-auto-rows: 40px;
  justify-content: center;
}

.Item-data {
  border: 1px solid #666;
  padding: 10px 0px 10px 0px;
}

.Item-delete {
  position: absolute;
  cursor: pointer;
  right: 0;
  border: none;
  margin-top: 10px;
  color: red;
  background-color: rgba(255, 251, 251, 0);
}

.Item-delete:hover {
  color: white;
}