.App-header{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  padding-top: 3rem;
}